*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* spinneer css
 */
 .loader{
  box-sizing:border-box;
  animation:rotation 1s linear infinite;
 }
 @keyframes rotation {
  0%{
    transform :rotate(0deg);
  }
  100%{
    transform:rotate(360deg)
  }
 }